body{

font-family:Arial;

background:#eaf4f4;

margin:0;

}


h1{

background:#023047;

color:white;

padding:20px;

text-align:center;

}


.contenedor{

width:80%;

margin:auto;

background:white;

padding:25px;

border-radius:10px;

}


input{

display:block;

width:80%;

padding:10px;

margin:10px auto;

}



button{

background:#219ebc;

color:white;

padding:10px;

margin:5px;

border:none;

cursor:pointer;

}



button:hover{

background:#126782;

}



#lista p{


background:#f1f1f1;

padding:10px;

border-left:5px solid #219ebc;


}